# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Documentation
docs/

# Local data and artifacts
temp_box/

# Python virtual environment
.venv/
env/
venv/

# Secrets
.env
secrets/
*.s3

# IDE and OS specific
.idea/
.vscode/
.DS_Store

# Pytest cache
.pytest_cache/
