# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
.egg-info/
*.egg
dist/
build/

# Docker
docker-compose.yml
docker-compose.override.yml
.dockerignore

# AWS
.aws/
credentials

# Data
data_box/outputs/*
!data_box/outputs/.gitkeep
data_box/inputs/*
!data_box/inputs/.gitkeep


# Other
temp_box/
.DS_Store
*.log
*.log.*
wandb/
.env
secrets/
*.s3
*.pt
*.bin
